doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/script/css/album/header.css")
        link(rel="stylesheet" href="/script/css/album/photo.css")
        script(src="https://kit.fontawesome.com/809697769a.js" crossorigin="anonymous")
        title Trip | #{post.title}
    body
        <!-- 상단 메뉴 --!>
        div.header
            <!-- 홈 --!>
            div.header_container
                div.home
                    a(href="/trip").homeBtn
                        i(class="fas fa-home")
                        span Trip
                <!-- 검색 --!>
                div.searchArea
                    form(method="GET").searchForm
                        div.search
                            input(type="text" name="search" placeholder="검색").searchInput
                            button
                                i(class="fas fa-search")
                <!-- 메뉴 --!>
                div.navMenu
                    div.uploadArea
                        a(href="/trip/upload").upload
                            i(class="fas fa-upload")
                            span 업로드
                    div.profileArea
                        div.profile
                            a(href=`/trip/${nickname}`).link
                                div.profileImage
                                span 프로필
        <!-- 게시물 --!>
        div.container
            div.viewContainer
                <!-- 업로드 파일 --!>
                <!-- fileId 가 이미지 파일 --!>
                if(image)
                    div.book
                        div.viewImage
                            each i in post.imageFile
                                img(src=`/file/upload/image/${i}`)
                <!-- fileId 가 비디오 파일 --!>
                if(video)
                    div.videoBorder
                        div.viewVideo
                            video(autoplay controls)
                                source(src=`/file/upload/video/${post.videoFile}` type="video/mp4")
                <!-- 업로드 파일 제목, 유저 정보, 문구 --!>
                div.postInformation
                    div.title #{post.title}
                    div.user
                        div.profileBorder
                            div.profile
                                a(href=`/trip/${post.ownedPostUser}`)
                                    img(src=`/file/upload/userProfile/${post.postProfileImg}`)
                                a(href=`/trip/${post.ownedPostUser}`).username
                                    div #{post.ownedPostUser}
                            div.like
                                i(class="far fa-heart fa-lg").notLikeIcon
                                i(class="fas fa-heart fa-lg").likeIcon.hidden
                                span.likeNum #{post.like}
                    div.description #{post.description}
                <!-- 댓글 작성 --!>
                div.comment
                    form(method="POST" autocomplete='off').commentForm
                        <!-- 댓글 입력 --!>
                        div.inputText
                            div.profile
                                a(href=`/trip/${nickname}`)
                                    img(src=`/file/upload/userProfile/${post.myProfile}`)
                            input(type="text" name="text" placeholder="댓글 입력...").commentInput
                        <!-- 작성된 댓글 목록 --!>
                        div.commentList
                            ul.commentUl
                                if(post.comments.length !== 0)
                                    each comment in post.comments
                                        div.commentBox
                                            div.viewImgBox
                                                a(href=`/trip/${comment.author}`)
                                                    img(src=`/file/upload/userProfile/${comment.profileImg}`)
                                            div.viewCommentBox
                                                div.underViewName
                                                    a(href=`/trip/${comment.author}`)
                                                        div=comment.author
                                                    div=comment.createAt
                                                div.underViewText 
                                                    div=comment.text
                                else
                                    div.noComment 작성된 댓글이 없습니다.
            <!-- 게시물 작성자의 또 다른 게시물 --!>            
            div.anotherFile
                each i in post.anotherFile
                    if(image)
                        div.contents
                            a(href=`${i.fileId}`).linkFile
                                div.anotherList
                                    div.anotherView
                                        img(src=`/file/upload/image/${i.imageFile[0]}`).img.viewFile
                                    div.anotherInfo
                                        div.title #{i.title}
                                        a(href=`/trip/${post.ownedPostUser}`).linkProfile
                                            div.username #{post.ownedPostUser}
                    if(video)
                        div.contents
                            a(href=`${i.fileId}`).linkFile
                                div.anotherList
                                    div.anotherView
                                        video.viewFile
                                            source(src=`/file/upload/video/${i.videoFile}` type="video/mp4").video
                                    div.anotherInfo
                                        div.title #{i.title}
                                        a(href=`/trip/${post.ownedPostUser}`).linkProfile
                                            div.username #{post.ownedPostUser}

        if(image)
            script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer")
            script(src="/script/js/lib/turn.js")
            script $('.viewImage').turn({gradients: true, acceleration: true});
        script(src="/script/js/album/photo.js")
        script(src="/script/js/album/like.js")