doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/script/css/album/header.css")
        link(rel="stylesheet" href="/script/css/album/photo.css")
        script(src="https://kit.fontawesome.com/809697769a.js" crossorigin="anonymous")
        title Document
    body
        <!-- 상단 메뉴 --!>
        div.header
            <!-- 홈 --!>
            div.header_container
                div.home
                    a(href="/trip").homeBtn
                        i(class="fas fa-home")
                        span Trip
                <!-- 검색 --!>
                div.searchArea
                    form(method="GET")
                        div.search
                            input(type="text" name="search" placeholder="검색")
                            button
                                i(class="fas fa-search")
                <!-- 메뉴 --!>
                div.navMenu
                    div.uploadArea
                        a(href="/trip/upload").upload
                            i(class="fas fa-upload")
                            span 업로드
                    div.profileArea
                        div.profile
                            a(href=`/trip/${nickname}`).link
                                div.profileImage
                                span 프로필
        <!-- 게시물 --!>
        div.container
            div.viewContainer
                <!-- 업로드 파일 --!>
                div.book
                    div.viewImage
                        each i, idx in imageFile
                            img(src=`/file/upload/image/${i}`)
                <!-- 업로드 파일 제목, 유저 정보, 문구 --!>
                div.imageInformation
                    div.title #{title}
                    div.user
                        div.profile
                            img(src=`${profileImg}`)
                        div.username #{nickname}
                    div.description #{description}
                <!-- 댓글 작성 --!>
                div.comment
                    form(method="POST" autocomplete='off').commentForm
                        <!-- 댓글 입력 --!>
                        div.inputText
                            div.profile
                                img(src=`${profileImg}`)
                            input(type="text" name="text" placeholder="댓글 입력...").commentInput
                        <!-- 작성된 댓글 목록 --!>
                        div.commentList
                            ul.commentUl
                                if(comments.length !== 0)
                                    each comment in comments
                                        div.commentBox
                                            div.viewImgBox
                                                img(src=`${comment.profileImg}`)
                                            div.viewCommentBox
                                                div.underViewName
                                                    div=comment.author
                                                    div=comment.createAt
                                                div.underViewText 
                                                    div=comment.text
                                else
                                    div.noComment 작성된 댓글이 없습니다.            
            div.anotherFile
                each i in anotherFile
                    div.contents
                        div.anotherList
                            div.anotherView
                                img.img(src=`/file/upload/image/${i.imageFile[0]}`)
                            div.anotherInfo
                                div.title #{i.title}
                                div.username #{nickname}



        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer")
        script(src="/script/js/lib/turn.js")
        script(src="/script/js/album/photo.js")
        script $('.viewImage').turn({gradients: true, acceleration: true});