doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/script/css/album/header.css")
        link(rel="stylesheet" href="/script/css/album/profile.css")
        script(src="https://kit.fontawesome.com/809697769a.js" crossorigin="anonymous")
        title Document
    body 
        <!-- 상단 메뉴 --!>
        div.header
            <!-- 홈 --!>
            div.header_container
                div.home
                    a(href="/trip").homeBtn
                        i(class="fas fa-home")
                        span Trip
                <!-- 검색 --!>
                div.searchArea
                    form(method="GET")
                        div.search
                            input(type="text" name="search" placeholder="검색")
                            button
                                i(class="fas fa-search")
                <!-- 메뉴 --!>
                div.navMenu
                    div.uploadArea
                        a(href="/trip/upload").upload
                            i(class="fas fa-upload")
                            span 업로드
                    div.profileArea
                        div.profile
                            a(href=`/trip/${nickname}`).link
                                div.profileImage
                                span 프로필
        
        div.userProfile_container
            <!-- 유저 프로필 정보 --!>
            div.userProfile_border
                <!-- 유저 프로필 사진 --!>
                div.userProfileImg
                    img(src=`/file/upload/userProfile/${user.profileImg}`).profileView
                <!-- 유저 기본정보 --!>
                div.userInfo_container
                    div.userInfo_border
                        div.username
                            div.name #{user.nickname}
                            div.profileRevice
                                if(owned)
                                    div.editProfile
                                        a(href="/account/editProfile") 프로필 편집
                                    div.logout
                                        a(href='/logout') 로그아웃
                        div.userIntroduce
                            div #{user.introduce}

            <!-- 파일 확장자에 따른 보이기 선택 --!>
            div.selectView
                <!-- 현재 프로필 유저 url 값을 가져오고, pathname 경로에 따라 색상 변경 --!>
                input(type="hidden" class="user" value=`${name}`)
                a(href=`/trip/${name}`).imgPost
                    div 이미지
                a(href=`/trip/${name}/v`).videoPost
                    div 비디오
                a(href=`/trip/${name}/f`).favPost
                    div 좋아요

            div.selectViewFile
                if(images)
                    each i in images
                        a(href=`${name}/${i.fileId}`)
                            div.viewBox
                                img(src=`/file/upload/image/${i.imageFile[0]}`).viewImg
                
                else if(videos)
                    each v in videos
                        a(href=`/trip/${name}/${v.fileId}`)
                            div.viewBox
                                video.viewVideo
                                    source(src=`/file/upload/video/${v.videoFile}` type="video/mp4")
                else
                    div.noFile
                        div.msg 등록된 게시물이 없습니다.   
        <!-- 메뉴 탭 색상 관련 스크립트 --!>     
        script(src="/script/js/album/profile.js")